.vscode/**
.vscode-test/**
scripts/**
src/**
.gitignore
.yarnrc
package-lock.json
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
samples/**
node_modules/commander/**
node_modules/katex/cli.js
node_modules/katex/contrib/**
node_modules/katex/src/**
node_modules/katex/README.md
node_modules/katex/dist/README.md
node_modules/katex/dist/contrib/**
node_modules/katex/dist/katex-swap.css
node_modules/katex/dist/katex-swap.min.css
node_modules/katex/dist/katex.css
node_modules/katex/dist/katex.js
node_modules/katex/dist/katex.mjs
